<h4>Students</h4>
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th *ngFor="let header of headers" scope="col">
                {{header}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students" scope="row">
            <td>{{ student.id }}</td>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.email }}</td>
        </tr>
    </tbody>
</table>