<div class="table-content">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
              <th>#</th>
                <th *ngFor="let header of headers" scope="col">
                    {{header}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students" scope="row">
                <td>
                  <input type="checkbox" id="{{student.id}}">
                </td>
                <td>{{ student.id }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.email }}</td>
            </tr>
        </tbody>
    </table>
</div>
