.nav-header-table {
    display: flex;
    justify-content: center;

    .table-title {
        color: #fff;
        padding: 8px 16px;
    }

    .fa-solid {
        cursor: pointer;
        color: #fff;
    }

    .fa-solid:hover {
        color: rgb(206, 206, 206)
    }
}