<div class="nav-header-table">
  <span class="table-title">{{ title }}</span>
  <nav>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" (click)="openModal()">
          <i class="fa-solid fa-circle-plus"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="edit()">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="fa-solid fa-trash-can" (click)="delete()"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
