<div class="nav-header-table">
    <span class="table-title">Table Name</span>
    <nav>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link add-element" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-current="page" href="#">
            <i class="fa-solid fa-circle-plus"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa-solid fa-trash-can"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>