/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.table {
    max-width: 80rem;
    border: 1px solid black;
    
    thead {
        background-color: rgb(116, 116, 116);
        color: #fff;
    }
}
