/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    background-color: rgb(58, 59, 77);
    width: 100%;
    height: 100%;

    h4 {
        color: #fff;
    }
}

.table {
    max-width: 70rem;
}

.table-content {
    display: flex;
    justify-content: center;
}