.router-content {
    display: flex;
    justify-content: center;
}

.menu-container {
    display: flex;
    position: fixed;
    justify-content: left;
    height: 100%;
    background-color: #fff;

    .nav-link {
        width: 10rem;
        color: #000;
        cursor: pointer;
    }

    .nav-link:hover {
        background-color: rgb(104, 104, 104);
        color: #fff;
    }
}